<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Front Controller...
    # If the request matches a file or directory that exists, serve it.
    # Otherwise, if it's not a request for the public folder already, 
    # rewrite it to the public folder.
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
    
    # If the file still doesn't exist and we are in the root index.php, 
    # the root index.php will handle it via its own require.
</IfModule>

