<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /aurvi/

    # 1. Any direct link to /public/ folder stays as is
    RewriteRule ^public/ - [L]


    # 2. Redirect to public folder ONLY for existing files
    # This ensures images, css, and js work correctly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{DOCUMENT_ROOT}/aurvi/public/$1 -f
    RewriteRule ^(.*)$ public/$1 [L]

    # 3. Handle Routes: Send everything else to root index.php
    # This solves the 404 on /about, /admin, etc.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
